!!!
%html(lang="fr")
  %head
    %meta(charset="utf-8")/
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    %title= current_page.data.title || 'Café Vie Privée'
    = stylesheet_link_tag %w(all)

  %body(role="document")
    = partial 'nav'

    = yield
